$black: #000814;
$red: #e63946;
$white: #f1faee;
$veryDarkBlue: #001d3d;
$darkBlue: #1d3557;
$littleDarkBlue: #003566;
$blue: #457b9d;
$lightBlue: #a8dadc;
$yellow: #ffc300;
$lightYellow: #ffd60a;

$moon: 6vw;
$moonShine: calc($moon / 4);
$moonShineTime: 3s;
$moonMovmentTime: 15s;

$star: 1px;

$mountain: 100vh;
$smallMountain: calc($mountain / 2);
$mountainRadius: 25px;