$black: rgb(0, 8, 20);
$red: rgb(230, 57, 70);
$white: rgb(241, 250, 238);
$veryDarkBlue: rgb(0, 29, 61);
$darkBlue: rgb(29, 53, 87);
$littleDarkBlue: rgb(0, 53, 102);
$blue: rgb(69, 123, 157);
$lightBlue: rgb(168, 218, 220);
$yellow: rgb(255, 195, 0);
$ligtYellow: rgb(255, 214, 10);

$sunSize: 24px;
$sunRays: 5px;

$starWidth: 1px;
$starHeight: 1px;