@import '_mixim.scss';

@keyframes moonShine {
    0% {
        box-shadow: 0px 0px 20px 5px rgba($white, 0.7);
    }

    50% {
        box-shadow: 0px 0px 30px 20px rgba($lightBlue, 0.5);
    }

    100% {
        box-shadow: 0px 0px 20px 5px rgba($white, 0.7);
    }
}

@keyframes moonMovment {
    0% {
        transform: translate(-10vw, 35vh);
    }

    50% {
        transform: translate(45vw, 15vh);
    }

    100% {
        transform: translate(110vw, 35vh);
    }
}

@keyframes starShine1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes starShine2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

$listOfComet: cometAnimation1, cometAnimation2, cometAnimation3;

@each $current in $listOfComet {
    @include randomComet($current, random(100)+100, random(40));
}

@include randomComet(reverseCometAdnimation, (random(100)+100)*(-1), random(40));

@keyframes cloudMovment {
    0% {}

    100% {
        transform: translateX(160vw);
    }
}